﻿@using Anastasia.Utils
@using Domain
@model IList<Domain.Planet>
<link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Your horoscope as a chart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Your horoscope as a chart</h2>

<div id="birthChartContainer">
    <div class="natalChartContainter">
        <div class="meena">@PrintHouseData(Rashi.Meena)</div>
        <div class="mesha">@PrintHouseData(Rashi.Mesha)</div>
        <div class="vrishabha">@PrintHouseData(Rashi.Vrishabha)</div>  
        <div class="mithuna">@PrintHouseData(Rashi.Mithuna)</div>      
        <div class="kumbha">@PrintHouseData(Rashi.Kumbha)</div>          
        <div class="karka">@PrintHouseData(Rashi.Karkataka)</div>          
        <div class="clear"></div>
        <div class="makara">@PrintHouseData(Rashi.Makara)</div>          
        <div class="simha">@PrintHouseData(Rashi.Simha)</div>          
        <div class="clear"></div>
        <div class="dhanu">@PrintHouseData(Rashi.Dhanu)</div>          
        <div class="vrischika">@PrintHouseData(Rashi.Vrischika)</div>          
        <div class="thula">@PrintHouseData(Rashi.Thula)</div>  
        <div class="kanya">@PrintHouseData(Rashi.Kanya)</div>          
    </div>
    }
</div>

@helper PrintHouseData(Rashi currentRashi)
{
    <div class="rashiText">@currentRashi</div>
    foreach (var planet in Model.Where(planet => planet.Rashi == currentRashi))
            {
                <div>
                    <span>@planet.Graha</span>
                    <span>@AngleUtils.GetDegreesMinutesSeconds(@planet.Degree)</span>
                </div>
            }
}