﻿@using Anastasia.Utils
@using Domain
@model Domain.HoroscopeInput

@{
    ViewBag.Title = "NatalChart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>NatalChart</h2>
<div>The Awesome Guy
    <br/>
    1989-08-21 10:29:00
    <br/>
    12.9667
    <br/>
    77.5667</div>
    @using (this.Html.BeginForm("GetHoroscope", "NatalChart", FormMethod.Post, new { id = "getHoroscope" }))
    {
        @Html.TextBoxFor(input => input.BirthDateTime)
        @Html.LabelFor(input => input.BirthDateTime,"Enter BirthDate and Time in yyyy-MM-dd HH:mm:ss")
        <br/>
        
        @Html.TextBoxFor(input => input.Latitude)
        @Html.LabelFor(input => input.BirthDateTime,"Enter Latitude")
        <br/>
        
        @Html.TextBoxFor(input => input.Longitude)
        @Html.LabelFor(input => input.BirthDateTime,"Enter Longitude")
        <br/>

        var values = EnumUtil.GetValues<Ayanamsha>().Select(ayanamsha => new SelectListItem
            {
                Text = ayanamsha.ToString(),
                Value = ayanamsha.ToString()
            });
        @Html.DropDownList("Ayanamsha", values)
        <br/>


        <input type="submit" value="DrawChart"/>
    }

