body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}



/* Above is junk true css starts below
-----------------------------------------------------------*/
.rashiText
{
    color: #ff0000;
}

.natalChartContainter {
    width: 608px;
    height: 608px;
    border: 1px solid black;
    overflow: hidden;
}
.meena {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}
.mesha {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}.vrishabha {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}.mithuna {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}
 .karka {
    width: 150px;
    min-height: 150px;
    float: right;
    border: 1px solid black ;
}
 .kumbha {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}
 .makara {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
} 
 .simha {
    width: 150px;
    min-height: 150px;
    float: right;
    border: 1px solid black ;
}
.dhanu {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}.vrischika {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}.thula {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}.kanya {
    width: 150px;
    min-height: 150px;
    float: left;
    border: 1px solid black ;
}
.clear { clear:both;}